@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

$font-header: "Open Sans", sans-serif;
$font-body: "Edu AU VIC WA NT Hand", cursive;
$background-color-body: rgb(154, 184, 237);
$background-color-header: rgb(132, 123, 232);

@mixin flex-and-align {
  display: flex;
  align-items: center;
}

@mixin align-and-justify {
  align-items: center;
  justify-content: center;
}

@mixin rounded-box($radius: 25px) {
  border-radius: $radius;
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color-body;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header {
  position: relative;
  width: 100%;
  @media (max-width: 768px) {
    width: 100%;
  }
}

header nav {
  @include flex-and-align;
  background-color: $background-color-header;
  padding: 10px;
  width: 100%;
  margin: auto;
}

.pokedex {
  width: 100%;
}


.pokebola {
  width: 50px;
}
.pokedexIcon {
  width: 280px;
  height: 100px;
  margin-right: 0px;
}

main {
  @include align-and-justify;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 50px;
  max-width: 100%;
  margin: auto;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
  
}



.pokemon-image {
  @include flex-and-align;
  flex-direction: column;
  .pokeImg {
    width: 480px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
  h1 {
    display: flex;
    justify-content: center;
    background-color: white;
    @include rounded-box;
    width: 300px;
    margin-top: 10px;
    padding: 10px;

    @media (max-width: 768px) {
      width: 100%;
      font-size: 18px;
    }
  }
}

.pokemon-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 2rem;
  align-content: space-around;
  background-color: rgb(215, 232, 244);
  @include rounded-box;
  width: 80%;
  height: 500px;
  .detail {
    font-size: 30px;
    @media (max-width: 768px) {
      font-size: 20px;
      width: 100%;
    }
  }
  p {
    max-width: 100px;
    font-family: $font-body;
    justify-content: flex-start;
    padding-top: 10px;
    font-size: 15px;
    @media (max-width: 768px) {
      max-width: 100%;
      font-size: 14px;
    }
  }
}

.search-bar {
  @include flex-and-align;
  text-align: center;
  padding: 30px 20px;
  @include rounded-box;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: fit-content;
  width: 758px;
  height: 52px;
  margin-top: 30px;
  @media (max-width: 768px) {
    width: auto;
  }
  .search-input {
    // width: 758px;
    border: none;
    outline: none;
    padding: 10px;
    background: transparent;
    font-size: 16px;
    width: 100%;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  .search-button {
    @include rounded-box;
    padding: 10px;
    background-color: $background-color-body;
    cursor: pointer;
  }
}

footer {
  background-color: $background-color-header;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.other-pokemon {
  @include flex-and-align;
  justify-content: space-evenly;
  cursor: pointer;
  img {
    background-color: grey;
    @include rounded-box;
    width: auto;
    height: 200px;
    @media (max-width: 768px) {
      height: 150px;
    }
  }
  h1{
    color: aliceblue;
    @media (max-width: 768px) {
      font-size: 20px;
    }
  }
}
